ul{
    margin:0;
    padding: 0;
}
li{
    list-style-type: none;
}
aside i{
    padding-right: 10px;
}
.btn:active{
    border:currentColor;
    box-shadow: none;
}
.btn:focus{
    border-color:currentColor;
    box-shadow: none;
}