@import 'common.css';
@import 'components/ms-search-form.css';

header{
    height: 70px;
    background-color:#f8f9fa;
}

.logo{
    height: 38px;
}
.logo > img {
    height: 100%;
}
.ms-container{
    height: calc(100vh - 70px);    
    background-color: rgb(172, 45, 111);
}

.top-main{
    background-color: #1b72e8;
}
header .ms-header-container > .row{
    background-color:white;
}
aside{
    background-color:#aebdce;
    color:white;
}

#next-lesson,
#faq,
#todo,
#active-users{
    height: 400px;
}

.btn-bell{
    color: #ff8f00;
}
.btn-bell:focus{
    box-shadow: none;
    border-color: none;
    color:  #ff8f00;
}
.btn-aside{
    background-color: transparent;
    color: white;
}
.btn-aside:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: inherit;
    border: none;
    box-shadow: none;
}
aside a{
    text-decoration: none;
    color:currentColor;
/*     border:1px solid black;
 */}
