/*
 ms-search-form
  */

  .ms-search-form{
    background-color: #e5e5e5;
    border-left: none;
  }
  .ms-search-form:focus{
    box-shadow: none;
    border:none ;
  }
  .group-icon{
    background-color:  #e5e5e5;
    border-right: none;
  }

